<meta charset="utf-8">	
<title>{{title}} | {{contacts.name}}</title>
<meta name="description" content="{{description}}"/>
<meta name="viewport" content="width=device-width">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="apple-touch-icon" sizes="180x180" href="{{path.favicon}}/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{path.favicon}}/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{path.favicon}}/favicon-16x16.png">
<link rel="manifest" href="{{path.favicon}}/site.webmanifest">
<link rel="shortcut icon" href="/favicon.png">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="{{path.favicon}}/browserconfig.xml">
<meta name="apple-mobile-web-app-title" content="{{contacts.domain}}">
<meta name="application-name" content="{{contacts.domain}}">
<meta name="theme-color" content="#ffffff">

<link href="{{path.css}}/style.css" rel="stylesheet">