<main class="{{content_prefix}}panel">
	<div class="{{content_prefix}}container container  is--full">
		{% include "../../common/page-header/tpl.twig" with {prefix:"page-header__", mod:heading_mod, group:heading_group, level:heading_level, heading:heading} %}			
		{% include "../../common/tabs/tpl.twig" with {prefix:"tabs__", mod:content_mod, tabs:"portfolio"} %}		
		<div class="{{content_prefix}}elem  {{content_mod}}">			
			<div class="{{content_prefix}}grid-row  grid__row  is--columns-3"> 
				{# 2019 #}
				{% include "../../common/card/card.twig" with {view: "portfolio", prefix:"card-item__", mod:"is--portfolio", list: [{"heading":portfolio.2019.stroyproekt.name, "preview":portfolio.2019.stroyproekt.preview,"link":portfolio.2019.stroyproekt.link, "filter":portfolio.2019.stroyproekt.filter}]} %}
				{# 2018 #}
				{% include "../../common/card/card.twig" with {view: "portfolio", prefix:"card-item__", mod:"is--portfolio", list: [{"heading":portfolio.2018.rapl.name, "preview":portfolio.2018.rapl.preview,"link":portfolio.2018.rapl.link, "filter":portfolio.2018.rapl.filter},{"heading":portfolio.2018.fisher.name, "preview":portfolio.2018.fisher.preview,"link":portfolio.2018.fisher.link, "filter":portfolio.2018.fisher.filter},{"heading":portfolio.2018.elephant.name, "preview":portfolio.2018.elephant.preview,"link":portfolio.2018.elephant.link, "filter":portfolio.2018.elephant.filter},{"heading":portfolio.2018.meteor.name, "preview":portfolio.2018.meteor.preview,"link":portfolio.2018.meteor.link, "filter":portfolio.2018.meteor.filter},{"heading":portfolio.2018.faberlic.name, "preview":portfolio.2018.faberlic.preview,"link":portfolio.2018.faberlic.link, "filter":portfolio.2018.faberlic.filter},{"heading":portfolio.2018.resourceoil.name, "preview":portfolio.2018.resourceoil.preview,"link":portfolio.2018.resourceoil.link, "filter":portfolio.2018.resourceoil.filter},{"heading":portfolio.2018.eagle.name, "preview":portfolio.2018.eagle.preview,"link":portfolio.2018.eagle.link, "filter":portfolio.2018.eagle.filter},{"heading":portfolio.2018.sycor.name, "preview":portfolio.2018.sycor.preview,"link":portfolio.2018.sycor.link, "filter":portfolio.2018.sycor.filter}]} %}
				{# 2017 #}
				{% include "../../common/card/card.twig" with {view: "portfolio", prefix:"card-item__", mod:"is--portfolio", list: [{"heading":portfolio.2017.boxer.name, "preview":portfolio.2017.boxer.preview,"link":portfolio.2017.boxer.link, "filter":portfolio.2017.boxer.filter}]} %}
				{# 2016 #}
				{% include "../../common/card/card.twig" with {view: "portfolio", prefix:"card-item__", mod:"is--portfolio", list: [{"heading":portfolio.2016.maslennikova.name, "preview":portfolio.2016.maslennikova.preview,"link":portfolio.2016.maslennikova.link, "filter":portfolio.2016.maslennikova.filter},{"heading":portfolio.2016.crossenergy.name, "preview":portfolio.2016.crossenergy.preview,"link":portfolio.2016.crossenergy.link, "filter":portfolio.2016.crossenergy.filter},{"heading":portfolio.2016.stroyservice.name, "preview":portfolio.2016.stroyservice.preview,"link":portfolio.2016.stroyservice.link, "filter":portfolio.2016.stroyservice.filter},{"heading":portfolio.2016.toppigments.name, "preview":portfolio.2016.toppigments.preview,"link":portfolio.2016.toppigments.link, "filter":portfolio.2016.toppigments.filter}]} %}
			</div>
		</div>
	</div>
</main>