<div class="{{content_prefix}}panel  {{content_mod}}"  id="{{content_id}}">
	<div class="{{content_prefix}}container container  {{content_mod}}  is--index-base">
		{% include "../../common/page-header/tpl.twig" with {prefix:"page-header__", mod:heading_mod, group:heading_group, level:heading_level, heading:heading} %} 
		
		{% include "../../common/tabs/tpl.twig" with {prefix:"tabs__", mod:content_mod, tabs:"about"} %} 

	</div>
</div>